*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Fondo: hsl(210, 29%, 25%);
  --App: hsl(192, 15%, 97%);
  --Titulo: hsl(210, 29%, 29%);
  --Titulo2: hsl(192, 2%, 60%);
  --Titulo3: hsl(184, 5%, 46%);
  --Section: hsl(145, 61%, 59%);
  --Icono: hsl(192, 15%, 99%);
}
body{
  background: var(--Fondo);
  font-size: 15px;

}
.App{
  margin: 30px auto;
  width: 375px;
  background-color: rgb(255, 255, 255, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;align-items: center;
  border-radius: 5px;
}
.article{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
h1{
  color: var(--Fondo);
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 2;
  font-weight: 500;
  
}
img{
  display: block;
  margin: auto;
}
button{
  line-height: 2;
  font-size: 1em;
  background-color: rgb(255, 255, 255, 0.1);
  color: black; 
  border: 2px solid hsl(145, 61%, 59%);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: hsl(145, 61%, 59%);
  line-height: 2;
  transition: all .5s;
}
button:hover{
  transition: all .5s;
  color: white;
  background-color: hsl(145, 61%, 59%);
}
.grados{
  margin-top: -15px;
  font-size: 2em;
  color: rgb(255, 255, 255, 0.2);
}
.clima{
  color: var(--Section);
  font-size: 1.5em;
}
.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid var(--Fondo);
  margin-top: 2em;
}
.caja{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 1em;

}
i{
  color: var(--Fondo);
  font-size: 2em;
  margin-top: .5em;
}
h2{
  color: rgb(255, 255, 255, 0.2);
  font-size: 1.3em;
  line-height: 2;
}
h3{
  color: hsl(145, 61%, 59%);
  font-size: 1.3em;
  line-height: 2;
}
/*  ------Desktop---------*/
@media (min-width: 1440px){
  .App{
    display: flex;
    width: 740px;
    background-color: rgb(255, 255, 255, 0.2);
  }
  h1{
    color: var(--Fondo);
    line-height: 2;
    font-weight: 500;
  }
  img{
    display: block;
    margin: auto;
  }
  button{
    line-height: 2;
    font-size: 1em;
    background-color: rgb(255, 255, 255, 0.1);
    color: black; 
    border: 2px solid hsl(145, 61%, 59%);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: hsl(145, 61%, 59%);
    line-height: 2;
    transition: all .5s;
  }
  button:hover{
    transition: all .5s;
    color: white;
    background-color: hsl(145, 61%, 59%);
  }
  .grados{
    color: rgb(255, 255, 255, 0.2);
    letter-spacing: 3px;
  }
  .section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px solid var(--Fondo);
  }
  .caja{
    width: 20%;
    margin: 1em;

  }
  i{
    color: var(--Fondo);
    border-radius: 5px;
  }
  h2{
    color: rgb(255, 255, 255, 0.2);
    font-weight: 400;
    letter-spacing: 2px;
  }
  h3{
    color: hsl(145, 61%, 59%);
  }
}